{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}

<script src="{{ url_for('static', filename='node_modules/howler/dist/howler.js')}}"></script>
<script src="{{ url_for('static',filename='library/p5.js')}}"></script>

<script src="{{ url_for('static',filename='js/game.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameEvents.js')}}"></script>

<script src="{{ url_for('static',filename='js/GameAssets/Enemy.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Collectable.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Platform.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Canyon.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Cloud.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Tree.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Mountain.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/FlagPole.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Player.js')}}"></script>

<script src="{{ url_for('static',filename='js/Levels/Level1.js')}}"></script>


{% endblock %}



