{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}

<div id="game">
    <button id="initGame">Play!</button>
</div>

<div id="canvasDiv"></div>

<script src="{{ url_for('static', filename='node_modules/howler/dist/howler.js')}}"></script>
<script src="{{ url_for('static',filename='library/p5.js')}}"></script>

<script src="{{ url_for('static',filename='js/Game.js')}}"></script>
<script src="{{ url_for('static',filename='js/Menu.js')}}"></script>
<script src="{{ url_for('static',filename='js/Rules.js')}}"></script>
<script src="{{ url_for('static',filename='js/Status.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameEvents.js')}}"></script>
<script src="{{ url_for('static',filename='js/PlayerController.js')}}"></script>

<script src="{{ url_for('static',filename='js/GameAssets/Enemy.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Collectable.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Platform.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Canyon.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Cloud.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Tree.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Mountain.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/FlagPole.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/PlayerDraw.js')}}"></script>
<script src="{{ url_for('static',filename='js/GameAssets/Ground.js')}}"></script>


<script src="{{ url_for('static',filename='js/Levels/LevelOne.js')}}"></script>

{% endblock %}



